h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-color: aquamarine;
    align-items: center;
}

html {
    background-color: #FFCFFC;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

button {
    border-radius: 50px;
    height: 40px;
    width: 100px;
    text-size-adjust: 30px;
}

.no:hover {
    background-color: #f58a87;

}

.yes:hover {
    background-color: #a8e687;

}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
